# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
ENV/

# Django stuff:
# SQLite database
db.sqlite3
# Media and static (if you collect static into a folder)
media/
staticfiles/

# Local settings
local_settings.py

# Environment variables file
.env

# Logs
*.log
celerybeat-schedule
celerybeat.pid

# Unit test / coverage reports
.pytest_cache/
coverage.xml
htmlcov/

# IDEs and editors
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Others
*.pot
*.mo
